<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"></linkstyle>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css"></linkstyle>
    <script src="/public/js/jquery-3.3.1.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <title>后台首页</title>
</head>
<body>

<!--顶部导航-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">后台管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/admin/user/userInfo">用户管理</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">医院信息管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/hospital/Info">医院首页</a></li>
                        <li><a href="/admin/hospital/add">添加医院</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">科室信息管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/department/Info">科室首页</a></li>
                        <li><a href="/admin/department/add">添加科室</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">医生信息管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/doctor/Info">医生首页</a></li>
                        <li><a href="/admin/doctor/add">添加医生</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统公告管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/notice/Info">公告首页</a></li>
                        <li><a href="/admin/notice/add">添加公告</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userInfo.username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/logout" id="logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--后台首页显示-->
<div class="container-fluid">
    {% block main %}{% endblock %}
</div>
</body>
</html>