{% extends 'layout.html'%}
{% block content %}
{% if userInfo._id %}
<div class="center"
     style="padding: 20px;
            margin: 0 auto;
            height: 555px;
            width: 720px;
            ">

        <div style=" width: 100%;height: 50px;line-height: 50px;border-bottom: 1px solid lightgray;">
            <div style="font-size: 20px; ">用户中心</div>
            <div style=" width: 100px;border-bottom: 1px solid orange;">
            </div>
        </div>
        <div style=" width: 100%;height: 100px;line-height: 100px;"><a href="/api/user/infoManage?id={{userInfo._id.toString()}}" style="color: red;">个人信息管理</a></div>
        <div style=" width: 100%;height: 100px;line-height: 100px;"><a href="/api/user/regManage?id={{userInfo._id.toString()}}" style="color: red;">预约信息管理</a></div>
        <p style="margin-top: 20px;text-align: center;height: 100px;line-height: 100px;font-size: larger;"><a id="logout" href="/api/user/exitCenter" style="color: olivedrab;">退出</a> </p>
</div>
{% endif %}
<script src="/public/js/center.js"></script>
{% endblock %}