<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医院在线挂号系统</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <script src="/public/js/jquery-3.3.1.js"></script>
</head>
<body>
<!--头部-->
<div class="header">
    <div class="bgImg">
        <img src="/public/images/logo.gif" alt=""/>
    </div>
    <!--导航栏-->
    <div class="nav">
        <a href="/">系统首页</a>
        <a href="/api/user/doctorInfo">专家查询</a>
        <a href="/api/user/noticeInfo">公告信息</a>
        <a href="/api/user/register">用户注册</a>
    </div>
</div>
<!--中间内容部分-->
<div class="container">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<!--底部区域-->
<div class="footer">
    Copyright&copy;xxxx版权所有|京ICP备08102442号
</div>
</body>
</html>